
<!-- Add Banner -->
  
        <div class="container">
            <div class="row ">
                <div class="col-lg-10 col-md-8 ml-auto">
                    <div class="row align-items-center pt-md-5 mt-5 mb-5">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-title text-center mt-3">
                                    <h3>Add Banner</h3>
                                </div>
                                <div class="card-body">
                                    <form action="/bannerAdd" enctype="multipart/form-data" method="post">
                                        <div class="form-group">
                                            <label for="seasontitle">Season Title:</label>
                                            <input type="text" class="form-control"name="seasontitle" id="seasontitle"
                                                placeholder="Enter Season Title">                                            
                                        </div>
                                      
                                        <div class="form-group">
                                            <label for="title">Title</label>
                                            <input type="text" class="form-control" name="title" id="title"
                                                placeholder="Enter Title">                                           
                                        </div>

                                          <div class="form-group">
                                            <label for="description">Description</label>
                                            <input type="text" class="form-control" name="description" id="description"
                                                placeholder="Enter Description">    
                                        </div>

                                        

                                        <p>Banner Image:</p>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input"  name="bannerimage">
                                            <label class="custom-file-label" for="bannerimage">Choose
                                                file...</label>
                                            <div class="invalid-feedback">File Format Not Supported</div>
                                        </div>

                                        <p style="font-weight: 600; font-size: 15px" id="ProductErorr" class="text-danger"></p>

                                        <button class="btn btn-dark mt-5 mx-auto d-block btn-sm" type="submit">Add Banner</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
{{!-- <script src="javascript/productValidation.js"></script> --}}
